body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* header-area  */
.top-bar{
  background: rgba(16,49,120,1);
  color: rgba(255,200,0,1);
  padding: 10px 0;
}
.top-bar-text{
  font-size: 15px;
}
.nav-bar {
  padding: 35px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-box {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.logo-link {
  font-size: 30px;
  font-weight: 700;
  color: rgba(16,49,120,1);
  text-decoration: none;

}
 .search-box {
    border: 1px solid rgba(16,49,120,1);
    width: 465px;
    border-radius: 60px;
    margin: auto;
    background: #8080801f;
    padding: 8px 11px;
    display: inline-block;
}
.search-field {
    border: none;
    border-radius: 50px;
    padding: 10px 35px;
    outline: none;
}
.btn-custom {
    color: #fff;
    background-color: rgba(16,49,120,1);
    border-color: rgba(16,49,120,1);
    border-radius: 60px;
    padding: 12px 40px;
    margin-left: 20px;
}
.btn-custom:hover, .btn-custom:focus {
  color: rgba(255,200,0,1);
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}

.main{
  padding: 60px 0;
}

/* Product area */
.product-title {
  font-size: 19px;
  color: rgba(16,49,120,1);
}
.product-category {
  font-weight: 700;
  font-size: 14px;
}
span.product-rating {
  font-size: 15px;
}
span.rating-count {
  font-size: 13px;
  color: gray;
}
.product-price {
  font-size: 20px;
  font-weight: 700;
  color: rgba(16,49,120,1);
  margin: 10px 0 16px 0;
}
.btn-add-product {
  color: #fff;
  background-color: rgba(16,49,120,1);
  border-color: rgba(16,49,120,1);
  font-weight: 500;
  font-size: 15px;
}
.btn-add-product:hover, .btn-add-product:focus {
  color: rgba(255,200,0,1);
}
.btn-product-details {
  color: rgba(16,49,120,1);
  background-color: rgba(255,200,0,1);
  border-color: rgba(255,200,0,1);
  font-weight: 500;
  font-size: 15px;

}
.product-bg{
  background: rgb(16 49 120 / 8%);
}
.single-product {
  transition: 0.3s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border: 1px solid rgba(16,49,120,1);
}
.product-image {
  width: 150px;
  height: 150px;
}

/* cart area */
.cart-header{
  color: rgba(16,49,120,1);

}
.cart-title{
  color: rgba(16,49,120,1);

}
.cart-price{
  color: rgba(16,49,120,1);
  font-weight: 700;

}
.cart {
  width: 350px;
  border: 2px solid rgba(16,49,120,1);
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background: rgb(255 200 0 / 8%);
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .top-bar-text {
    font-size: 14px;
    line-height: 1.5;
  }
  .nav-box {
    display: flex;
    flex-direction: column;
  }
  .search-box {
    width: 345px;
    padding: 8px 11px;
    margin-top: 30px;
  }
  .search-field {
    padding: 4px 0px;
  }
  .btn-custom {
    padding: 4px 14px;
  }
}
